.standings-wrapper .standings-container {
    overflow-x: auto; /* Allows horizontal scrolling */
    background-color: #1e1e2f;
    border-radius: 8px;
    padding: 12px;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile devices */
}

.standings-wrapper .standings-header {
    margin-bottom: 12px;
    color: #ffffff;
}

.standings-wrapper .standings-table-head {
    background-color: #333;
    max-width: 35px;
}

.standings-wrapper .standings-table-cell {
    padding: 5px 6px;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: #2b2b3d;
}

.standings-wrapper .standings-sort-label {
    color: white;
    max-width: 40px;
}

.standings-wrapper .standings-sort-label.Mui-active {
    color: #1976d2;
}

.standings-wrapper .standings-sort-label.Mui-active .MuiTableSortLabel-icon {
    color: #1976d2;
}

.standings-wrapper .standings-sort-label:hover {
    color: #1976d2;
}

.standings-wrapper .standings-sort-label:hover .MuiTableSortLabel-icon {
    color: #1976d2;
}

.standings-wrapper .standings-table-row {
    background-color: #2b2b3d;
}

.standings-streak {
    color: #00ff00; /* Green color for win streaks */
}

.standings-streak.losing {
    color: #ff0000; /* Red color for losing streaks */
}
