.matchups-wrapper .matchup-container {
    max-width: 600px;
    margin: 8px auto;
    padding: 12px;
    background-color: #1e1e2f;
    color: #ffffff;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.matchups-wrapper .matchup-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.matchups-wrapper .team-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%; /* Adjust to balance space */
}

.matchups-wrapper .vs-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%; /* Space for the "VS" text */
}

.matchups-wrapper .vs-text {
    font-size: 1.5rem;
    color: #ffffff;
}

.matchups-wrapper .team-name {
    font-weight: bold;
    font-size: 1rem;
}

.matchups-wrapper .total-points {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 4px;
    color: #ffffff; /* Set points text to white */
}

.matchups-wrapper .win-probability-bar {
    width: 100%;
    height: 6px;
    border-radius: 3px;
}

/* Adjust color of the WIN probability text if needed */
.matchups-wrapper .win-probability-text {
    font-size: 0.8rem;
    color: #ffffff; /* Set the WIN probability text to white */
}

.matchups-wrapper .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.matchups-wrapper .week-navigation-container {
    display: flex;
    align-items: center;
}

.matchups-wrapper .week-navigation-arrow {
    color: #1976d2; /* Arrow color */
    padding: 0;
}

.matchups-wrapper .current-week-text {
    font-size: 1rem;
    font-weight: bold;
    color: #1976d2;
    padding: 2px;
    margin: 0 4px; /* Spacing between text and arrows */
}
